<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet">

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>L7 - EngineerBradford</title>
    </head>
    <body>
    
        <nav class="navbar navbar-light bg-dark">
                                  
        </nav>

        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" href="#">
                <img src="{{url_for('static', filename='l7_logo-980x182.png')}}"  width="50%" height="50%" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <!-- <div class="navbar-nav">
                <a class="nav-item nav-link mr-sm-2" href="#">Problem 1</a>
                <a class="nav-item nav-link mr-sm-2" href="#">Features</a>            
              </div> -->
            </div>
        </nav>
        
        <h1>Benford's Law.</h1>
        <p> In 1938, Frank Benford published a paper showing the distribution of the leading digit in many disparate sources of data. In all these sets of data, <strong>the number 1 was the leading digit about 30% of the time</strong>. Benford’s law has been found to apply to population numbers, death rates, lengths of rivers, mathematical distributions given by some power law, and physical constants like atomic weights and specific heats.
        </p>

        
        <div class="container">
        <h3>Try it out:</h3>
            <p>Upload a tab separated file and specify a column name to check. The website will then process the file and calculate the distribution for the column specified.</p>
        <form method="POST" action="" enctype="multipart/form-data">
            <div class="form-row row borderbox">
                <div class="col-auto">
                    <input class ="from-control" type="file" name="file">
                </div>
                <div class="col-auto">
                    <label for="colname">Column Name to Check: </label>
                </div>
                <div class="col-auto">
                    <input class ="from-control" type="text" name="colname" placeholder="Enter a column name">
                </div>
                    
            </div>

            <div class="form-row ">
                <button type="submit" class="btn btn-primary margint">Submit</button>
            </div>
        </form>
    </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='brads.js')}}"></script>

    </body>

</html>